

.container {
	background-color: blue;
	width: 90%
	margin: 0 auto;
}

header {
	background-color: pink;
	 height: 75px  ;
}

nav {
	background-color:red;
	height: 75px;
}

main {
	background-color: purple;
	height: 200px;
	width: 70%;
	float: left;
	margin-left: 5%;
}

aside {
	background-color: orange;
	height: 200px;
	width: 20%;
	float: right;
}

footer {
	background-color: grey;
	height: 75px;
}